{% if address %}
  <a href="https://yandex.ru/maps/213/moscow/house/stupinskiy_proyezd_1as1/Z04YcAVmQEMHQFtvfXl4cHxkZA==/?ll=37.626959%2C55.591070&source=wizgeo&utm_medium=maps-desktop&utm_source=serp&z=17" target="_blank" class="address-link">{{ address }}</a>
{% else %}
  <a href="https://yandex.ru/maps/213/moscow/house/stupinskiy_proyezd_1as1/Z04YcAVmQEMHQFtvfXl4cHxkZA==/?ll=37.626959%2C55.591070&source=wizgeo&utm_medium=maps-desktop&utm_source=serp&z=17" target="_blank" class="address-link">г. Москва Ступинский проезд дом 1А1</a>
{% endif %}
