{% load cms_tags menu_tags sekizai_tags %}
<section class='catalog'>
    <div class="container grid">
        <div class="heading">
            <p class="services-title">Каталог продукци</p>
            <p class="services-subtitle">к вашему столу</p>
            <div class="separator"></div>
        </div>
        <div class="catalog-tiles grid">
            <div class="tile">
                <a href="/katalog?getitem=">
                    <img src="{{ STATIC_URL }}img/catalog/meat.svg" alt=""/>
                    <p class="name">Мясо</p>
                </a>
            </div>
            <div class="tile">
                <a href="/katalog?getitem=">
                    <img src="{{ STATIC_URL }}img/catalog/chicken.svg" alt=""/>
                    <p class="name">Птица</p>
                </a>
            </div>
            <div class="tile">
                <a href="/katalog?getitem=">
                    <img src="{{ STATIC_URL }}img/catalog/grocery.svg" alt=""/>
                    <p class="name">Бакалея</p>
                </a>
            </div>
            <div class="tile">
                <a href="/katalog?getitem=">
                    <img src="{{ STATIC_URL }}img/catalog/milk.svg" alt=""/>
                    <p class="name">Молочные продукты,<br/>яйцо</p>
                </a>
            </div>
            <div class="tile">
                <a href="/katalog?getitem=">
                    <img src="{{ STATIC_URL }}img/catalog/fish.svg" alt=""/>
                    <p class="name">Рыба</p>
                </a>
            </div>
            <div class="tile">
                <a href="/katalog?getitem=">
                    <img src="{{ STATIC_URL }}img/catalog/fruit.svg" alt=""/>
                    <p class="name">Свежие фрукты,<br/>овощи</p>
                </a>
            </div>
            <div class="tile">
                <a href="/katalog?getitem=">
                    <img src="{{ STATIC_URL }}img/catalog/canned.svg" alt=""/>
                    <p class="name">Консервация</p>
                </a>
            </div>
            <div class="tile">
                <a href="/katalog?getitem=">
                    <img src="{{ STATIC_URL }}img/catalog/bar.svg" alt=""/>
                    <p class="name">Барная продукция</p>
                </a>
            </div>
            <div class="tile">
                <a href="/katalog?getitem=">
                    <img src="{{ STATIC_URL }}img/catalog/freeze.svg" alt=""/>
                    <p class="name">Свежемороженные овощи, ягоды, грибы</p>
                </a>
            </div>
            <div class="tile">
                <a href="/katalog?getitem=">
                    <img src="{{ STATIC_URL }}img/catalog/sausages.svg" alt=""/>
                    <p class="name">Колбасные изделия</p>
                </a>
            </div>
        </div>
    </div>
</section>
