node_modules/
dist/
venv
env
.idea
.vscode
npm-debug.log
yarn-error.log
__pycache__
# Editor directories and files

*.suo
*.ntvs*
*.njsproj
*.sin
project.db
yarn.lock
package-lock.json
#prodlogistica/settings.py
./static/
/static/
*.pyc
