<div class="container-fluid">
  <section class="tiles grid">
    <div class="head container">
      <div class="title">Кто мы</div>
      <div class="subtitle">мы являемся поставщиками</div>
      <div class="separator"></div>
      <div class="additionally">
        Мы являемся поставщиками продовольствия c 2000 года
      </div>
    </div>
    <div class="spacerH"></div>
    <div class="description">
      <div class="wrapper">
        <div class="separator"></div>
        <div class="title">
          Основное
        </div>
        <p>
          Компания успешно работает на российском рынке с 2000 года. С течением времени мы существенно расширили сферу своих интересов, освоив новые перспективы для бизнеса. Динамичное развитие компании привело к переформатированию бизнеса, и организация в 2009 году была преобразована в холдинговую структуру - Группу Компаний "ПродЛогистика"
        </p>
        <p>
          Основное направление деятельности компании: поставка овощей и фруктов. Так же мы предлагаем широкий ассортимент и других категорий товаров: мясо кур, свинина, говядина, консервы, крупы, приправы, масло-продукты, макаронные изделия и многое другое. Широкий ассортимент продукции, высокий уровень сервиса позволяет нам поддерживать долгосрочные партнерские отношения с постоянными клиентами и активно привлекать новых. Нашими партнерами-поставщиками являются иностранные и отечественные производители и овощеводы.
        </p>
      </div>
    </div>
    <div class="img first" style="background: url('{{ STATIC_URL }}img/about-page/top.png');"></div>
    <div class="img second" style="background: url('{{ STATIC_URL }}img/about-page/middle.png');"></div>
    <div class="description right">
        <div class="wrapper">
          <div class="separator"></div>
          <div class="title">
            Собственный склад
          </div>
          <p>
            Наличие собственного центрального склада, позволяет нам сохранять качество продукции на высоком уровне. Склад находится в Москве,
            это расположение обеспечит оперативную доставку товара, в центр города. Наличие транспорта, а так же слаженная работа отдела логистики, обеспечивает быструю и своевременную доставку по области. На складе продукция разделена по разделам, по всем стандартам хранения продукции. Имеется раздел заморозки, отдельно хранятся овощи, фрукты, крупы, бакалея.
          </p>
        </div>
      </div>
    <div class="description">
        <div class="wrapper">
          <div class="separator"></div>
          <div class="title">
            Почему нужно выбрать нас
          </div>
          <ul class="achievements">
            <li><i class="i-ok-circle"></i>
              <p class='subtitle'>
                Быстрая и своевременная доставка продовольствия
              </p>
              <p class="adwanced">
                Слаженная командная работа и взаимопонимане между персоналом, обеспечивает высокую скорость и качество доставки нашего товара, к вашему складу.
              </p>
            </li>
            <li><i class="i-ok-circle"></i>
              <p class='subtitle'>
                Гарантия качества
              </p>
              <p class="adwanced">

              </p>
            </li>
            <li><i class="i-ok-circle"></i>
              <p class='subtitle'>
                Безопасно
              </p>
              <p class="adwanced">
                Наша продукция проходит все необходимые проверки качества по ГОСТ, что обеспечивает безопасность всего поставляемого товара.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="img third" style="background: url('{{ STATIC_URL }}img/about-page/bottom.png');"></div>
  </section>
</div>

<div class="img" style="background: url('{{ STATIC_URL }}img/about-1.png');"></div>
