{% load cms_tags menu_tags sekizai_tags %}
{% load cms_tags %}
<footer>
  <div class="container">
    <div class="footer-content grid">
      <div class="newsletter">
        <div class="title">
          <p>подписка на рассылку</p>
        </div>
        <p>Подпишитесь на нашу рассылку и мы будем информировать Вас о новых проектах и акциях.</p>
        <div class="email-field">
          <label>
            <input type="email" placeholder="Ваш email адрес">
          </label>
          <button type="submit" href="#" class="btn-mail" id="footer_mail">
            <i class="i-mail-alt"></i>
          </button>
        </div>
      </div>
      <div class="sitemap">
        <div class="title">
          <p>карта сайта</p>
        </div>
        <ul>
          {% show_menu 0 100 100 100 %}
        </ul>
      </div>
      <div class="spacer"></div>
      <div class="footer-contacts">
        <div class="title">
          <p>обратная связь</p>
        </div>
        <a href="https://yandex.ru/maps/213/moscow/house/stupinskiy_proyezd_1as1/Z04YcAVmQEMHQFtvfXl4cHxkZA==/?ll=37.626959%2C55.591070&source=wizgeo&utm_medium=maps-desktop&utm_source=serp&z=17" target="_blank">
          <address>{% placeholder "address" %}</address>
        </a>
        {% placeholder "phone" %}<br>
        {% placeholder "email" %}
        <div class="feed">
          <a href="https://vk.com/id470176359" target="_blank" class="btn">
            <i class="i-vkontakte"></i>
          </a>
          <a href="https://hh.ru/employer/649480" target="_blank" class="btn">
            <p>hh</p>
          </a>
          <a href="" target="_blank" class="btn">
            <i class="i-gplus"></i>
          </a>
        </div>
        <a href="#" class="btn-feed js-popup-open" data-popup-target="feedback_frame">Оставить заявку</a>
      </div>
    </div>
    <p class="copyright">ООО «ПРОДЛОГИСТИКА ЮГ» все права защищены</p>
  </div>
</footer>
