{% load cms_tags menu_tags sekizai_tags %}
<section class="team grid container">

  <div class="title-block">
    <div class="separator"></div>
    <p class="title">наша команда</p>
  </div>

  <div class="team-tile">
    <div class="photo">
      <img src="{{ STATIC_URL }}img/team/team-2.jpg" alt=""/>
      <div class="contacts">
        <p class='grid'>
          <i class="i-mail-alt">sherengovskiy@prodlog.ru</i>
        </p>
      </div>
    </div>
    <p class="name">Шеренговский Евгений</p>
    <p class="employee-position">Основатель компании</p>
    <div class="separator"></div>
  </div>

  <div class="team-tile">
    <div class="photo">
      <img src="{{ STATIC_URL }}img/team/team-1.jpg" alt=""/>
      <div class="contacts">
        <p class='grid'>
          <i class="i-mail-alt">koroleva@prodlog.ru</i>
        </p>
      </div>
    </div>

    <p class="name">Королева Сабина</p>
    <p class="employee-position">Генеральный директор</p>
    <div class="separator"></div>
  </div>

  <div class="team-tile">
    <div class="photo">
      <img src="{{ STATIC_URL }}img/team/team-3.jpg" alt=""/>
      <div class="contacts">
        <p class='grid'>
          <i class="i-mail-alt">tarannikova@prodlog.ru</i>
          <i class="i-phone">+7 (999) 999-99-99</i>
        </p>
      </div>
    </div>
    <p class="name">Таранникова Елена</p>
    <p class="employee-position">Комерческий директор</p>
    <div class="separator"></div>
  </div>

  <div class="hiring-title">
    <div class="separator"></div>
    <div class="title">работа у нас!</div>
  </div>

  <div class="hiring-baner">
    <div class="wrap">
      <div class="sub-title">Главный бухгалтер </div>
      <div class="content">
        <p>Работа с первичной документацией в 1С 8.3. Сдача всех установленных форм бухгалтерской и налоговой отчетности. Подготовка документов по...</p>
      </div>
      <a href="" class="btn-feed js-popup-open" data-popup-target="popup-name">оставить заявку</a>
    </div>
  </div>

</section>
