{% load cms_tags menu_tags sekizai_tags %}
<section class="team grid container">

  <div class="title-block">
    <div class="separator"></div>
    <p class="title">наша команда</p>
  </div>

  <div class="team-tile">
    <div class="photo">
      <img src="{{ STATIC_URL }}img/team/team-2.png" alt=""/>
      <div class="contacts">
        <a href="mailto:sherengovskiy@prodlog.ru">
          <p class='grid'>
            <i class="i-mail-alt">sherengovskiy@prodlog.ru</i>
          </p>
        </a>
      </div>
    </div>
    <p class="name">Шеренговский Евгений</p>
    <p class="employee-position">Основатель компании</p>
    <div class="separator"></div>
  </div>

  <div class="team-tile">
    <div class="photo">
      <img src="{{ STATIC_URL }}img/team/team-1.png" alt=""/>
      <div class="contacts">
        <a href="mailto:koroleva@prodlog.ru">
          <p class='grid'>
            <i class="i-mail-alt">koroleva@prodlog.ru</i>
          </p>
        </a>
      </div>
    </div>

    <p class="name">Королева Сабина</p>
    <p class="employee-position">Генеральный директор</p>
    <div class="separator"></div>
  </div>

  <div class="team-tile">
    <div class="photo">
      <img src="{{ STATIC_URL }}img/team/team-3.png" alt=""/>
      <div class="contacts">
        <a href="mailto:tarannikova@prodlog.ru">
          <p class='grid'>
            <i class="i-mail-alt">tarannikova@prodlog.ru</i>
          </p>
        </a>
      </div>
    </div>
    <p class="name">Таранникова Елена</p>
    <p class="employee-position">Коммерческий директор</p>
    <div class="separator"></div>
  </div>

  <div class="hiring-title">
    <div class="separator"></div>
    <div class="title">работа у нас!</div>
  </div>

  <div class="hiring-baner">
    <div class="wrap">
      <div class="sub-title">Руководитель отдела операторов</div>
      <div class="content">
        <p>Осуществление общего руководства и планирование работы операторов (3-4 человека) Обеспечение координации работы Отдела и сотрудничества...</p>
      </div>
{#      <a href="" class="btn-feed js-popup-open" data-popup-target="popup-name">оставить заявку</a>#}
      <a href="https://hh.ru/employer/649480" target="_blank" class="btn-feed">все вакансии</a>
    </div>
  </div>

</section>
