{% load cms_tags menu_tags sekizai_tags %}
<section class="team grid container">

  <div class="title-block">
    <div class="separator"></div>
    <p class="title">наша команда</p>
  </div>

  <div class="team-tile">
    <div class="photo">
      <img src="{{ STATIC_URL }}img/team/team-2.png" alt=""/>
      <div class="contacts">
        <a href="mailto:sherengovskiy@prodlog.ru">
          <p class='grid'>
            <i class="i-mail-alt">sherengovskiy@prodlog.ru</i>
          </p>
        </a>
      </div>
    </div>
    <p class="name">Шеренговский Евгений</p>
    <p class="employee-position">Основатель компании</p>
    <div class="separator"></div>
  </div>

  <div class="team-tile">
    <div class="photo">
      <img src="{{ STATIC_URL }}img/team/team-1.png" alt=""/>
      <div class="contacts">
        <a href="mailto:koroleva@prodlog.ru">
          <p class='grid'>
            <i class="i-mail-alt">koroleva@prodlog.ru</i>
          </p>
        </a>
      </div>
    </div>

    <p class="name">Королева Сабина</p>
    <p class="employee-position">Генеральный директор</p>
    <div class="separator"></div>
  </div>

  <div class="team-tile" style="display: none">
    <div class="photo">
      <img src="{{ STATIC_URL }}img/team/team-3.png?v23" alt=""/>
      <div class="contacts">
        <a href="mailto:tarannikova@prodlog.ru">
          <p class='grid'>
            <i class="i-mail-alt"></i>
          </p>
        </a>
      </div>
    </div>
    <p class="name"></p>
    <p class="employee-position"></p>
    <div class="separator"></div>
  </div>

  <div class="hiring-title">
    <div class="separator"></div>
    <div class="title">работа у нас!</div>
  </div>

  {% placeholder "Vacancies single" %}

</section>
