{% load cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}Продлогистика ЮГ{% endblock title %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#fff"/>
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon">
    <link rel="canonical" href="//www.prodlogistica.ru{{ request.get_full_path }}"/>
    <meta name="yandex-verification" content="d5ba5b68813a7722" />
    <meta name="google-site-verification" content="o6iLKARd47EFORXFaG47OVRKJ4aZQAGWXLBhodP9W-s" />
    {% include "partials/_media-tags.html" %}
    {% render_block "css" %}
    {% block head %}{% endblock %}
  </head>
  <body>
  {#<!-- BEGIN content -->#}
  {% cms_toolbar %}
  {% include "partials/_nav-slideout.html" %}
  <div class="content" id="content">
      {% include "partials/base/_header.html" %}
      {% block content %}{% endblock %}
      {% include "partials/base/_footer.html" %}
      {% include "partials/popups/_feedback.html" %}
      {% include "partials/popups/_callback.html" %}
  </div>
  {#<!-- END content -->#}

  {% render_block "js" %}
  {% block scripts %}{% endblock %}

  <!-- Yandex.Metrika counter -->
  {% include "data/yandex.metrika.html" %}
  <!-- /Yandex.Metrika counter -->

  </body>
</html>
