<section class="clients container">
  <div class="title">
    <p>Наши клиенты</p>
  </div>
  <div class="separator"></div>
  <div class="clients-slider">
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-1.png" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-2.png" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-3.png" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-4.png" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-5.png" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-1.png" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-2.png" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-3.png" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-4.png" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-5.png" alt=""/>
    </div>
  </div>
</section>
