<section class="services container-fluid">
  <div class="container grid">
    <div class="head">
      <p class="services-title">Наши услуги</p>
      <p class="services-subtitle">больше чем просто оптовая торговля</p>
      <div class="separator"></div>
    </div>
    <div class="services-items grid">
      <div class="item-services">
        <a href="#" class="item-img">
          <img src="{{ STATIC_URL }}img/service-item-1.png" alt=""/>
        </a>
        <p class="title">
          Контракты на поставку
        </p>
        <p class="content">
          Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Таким образом начало повседневной работы по формированию позиции 
        </p>
      </div>
      <div class="item-services">
        <a href="#" class="item-img">
          <img src="{{ STATIC_URL }}img/service-item-1.png" alt=""/>
        </a>
        <p class="title">
          Контракты на поставку
        </p>
        <p class="content">
          Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Таким образом начало повседневной работы по формированию позиции 
        </p>
      </div>
      <div class="item-services">
        <a href="#" class="item-img">
          <img src="{{ STATIC_URL }}img/service-item-1.png" alt=""/>
        </a>
        <p class="title">
          Контракты на поставку
        </p>
        <p class="content">
          Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Таким образом начало повседневной работы по формированию позиции 
        </p>
      </div>
      <div class="item-services">
        <a href="#" class="item-img">
          <img src="{{ STATIC_URL }}img/service-item-1.png" alt=""/>
        </a>
        <p class="title">
          Контракты на поставку
        </p>
        <p class="content">
          Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Таким образом начало повседневной работы по формированию позиции 
        </p>
      </div>
    </div>
  </div>
</section>