{% load cms_tags menu_tags sekizai_tags %}
{% load cms_tags %}
<footer>
  <div class="container">
    <div class="content grid">
      <div class="newsletter">
        <div class="title">
          <p>подписка на рассылку</p>
        </div>
        <p>Подпишитесь на нашу рассылку и мы будем информировать Вас о новых проектах и акциях.</p>
        <div class="email-field">
          <label>
            <input type="text" placeholder="Ваш email адрес">
          </label>
          <a href="#" class="btn-mail" id="footer_mail">
            <i class="i-mail-alt"></i>
          </a>
        </div>
      </div>
      <div class="sitemap">
        <div class="title">
          <p>карта сайта</p>
        </div>
        <ul>
          {% show_menu 0 100 100 100 %}
        </ul>
      </div>
      <div class="spacer"></div>
      <div class="contacts">
        <div class="title">
          <p>обратная связь</p>
        </div>
        <address>{% placeholder "address" %}</address>
        <p class="phone">{% placeholder "phone" %}</p>
        <p class="mailto"><a href="mailto:prodlogistica@mail.ru?subject=Сообщение с сайта">{% placeholder "email" %}</a></p>
        <div class="feed">
          <a href="https://vk.com/id470176359" target="_blank" class="btn">
            <i class="i-vkontakte"></i>
          </a>
          <a href="https://hh.ru/employer/649480" target="_blank" class="btn">
            <p>hh</p>
          </a>
          <a href="" target="_blank" class="btn">
            <i class="i-gplus"></i>
          </a>
        </div>
        <a href="#" class="btn-feed js-popup-open" data-popup-target="popup-name">Оставить заявку</a>
      </div>
    </div>
    <p class="copyright">ООО «ПРОДЛОГИСТИКА ЮГ» все права защищены</p>
  </div>
</footer>
