<footer>
  <div class="container">
    <div class="content grid">
      <div class="newsletter">
        <div class="title">
          <p>подписка на рассылку</p>
        </div>
        <p>Подпишитесь на нашу рассылку и мы будем информировать Вас о новых проектах и акциях.</p>
        <div class="email-field">
          <p>Ваш email адрес</p>
          <a href="#" class="btn-mail">
            <i class="i-mail-alt"></i>
          </a>
        </div>
      </div>
      <div class="sitemap">
        <div class="title">
          <p>карта сайта</p>
        </div>
        <ul>
          <li>
            <a href="">
              <i class="i-right-open"></i>
              <p>о нас</p>
            </a>
          </li>
          <li>
            <a href="">
              <i class="i-right-open"></i>
              <p>вакансии</p>
            </a>
          </li>
          <li>
            <a href="">
              <i class="i-right-open"></i>
              <p>услуги</p>
            </a>
          </li>
          <li>
            <a href="">
              <i class="i-right-open"></i>
              <p>новости</p>
            </a>
          </li>
          <li>
            <a href="">
              <i class="i-right-open"></i>
              <p>контакты</p>
            </a>
          </li>
          <li>
            <a href="">
              <i class="i-right-open"></i>
              <p>соглашение</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="spacer"></div>
      <div class="contacts">
        <div class="title">
          <p>обратная связь</p>
        </div>
        <address>Ступинский пр., 1А, стр. 1, Москва</address>
        <p class="phone">+7 495 212‑20-80</p>
        <p class="mailto"><a href="mailto:prodlogistica@mail.ru?subject=Сообщение с сайта">prodlogistica@mail.ru</a></p>
        <div class="feed">
          <a href="#" class="btn">
            <i class="i-odnoklassniki"></i>
          </a>
          <a href="#" class="btn">
            <i class="i-vkontakte"></i>
          </a>
          <a href="" class="btn">
            <i class="i-gplus"></i>
          </a>
        </div>
      </div>
    </div>
    <p class="copyright">ООО «ПРОДЛОГИСТИКА ЮГ» все права защищены</p>
  </div>
</footer>