{% load cms_tags menu_tags sekizai_tags %}
<section class="team grid container">
  
  <div class="title-block">
    <div class="separator"></div>
    <p class="title">наша команда</p>
  </div>

  <div class="team-tile">
    <div class="photo">
      <img src="{{ STATIC_URL }}img/team.png" alt=""/>
    </div>
  </div>

  
  <div class="hiring-baner">
    <div class="hiring-title">
      <div class="separator"></div>
      <div class="title">вакансии!</div>
    </div>
    <div class="wrap">
      <div class="sub-title">нужны водители!</div>
      <div class="content">
        <p>Мы нанимаем водителей, у нас есть две открытые вакансии. Посмотрите наше предложение и примите его сегодня!</p>
      </div>
      <a href="" class="btn-feed">оставить заявку</a>
    </div>
  </div>

</section>