.cback-circle {
  background: $accent;
  color: #3CB868;
}

.cback {
  width: 160px;
  height: 160px;
  position: fixed;
  bottom: 0;
  right: 0;
  //transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 0;
}
.cback-circle {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
}
.cback-circle--phone {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cback-circle.fn1 {
  animation: pin 2.5s linear 0.4s infinite normal;
}
.cback-circle.fn2 {
  animation: pin 2s linear 0s infinite normal;
  background: none;
}
.cback:hover .cback-circle--phone {
  animation: hvr-phone 1.5s linear infinite normal;
}
.cback .phone-icon {
  width: 41px;
  height: 41px;
  background: url(https://brrenat.github.io/content/phone.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: phone-fn 2s infinite ease-in-out;
}

@keyframes phone-fn {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    transform: translate(-50%, -50%) rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: translate(-50%, -50%) rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: translate(-50%, -50%) rotate(25deg) scale(1) skew(1deg);
  }
  100%, 50% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1) skew(1deg);
  }
}
@keyframes pin {
  0% {
    opacity: 0.6;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes hvr-phone {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: inset 0 0 20px -14px rgba(0, 0, 0, 0.75);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: inset 0 0 20px -4px rgba(0, 0, 0, 0.75);
  }
}
