<section class="clients container">
  <div class="title">
    <p>Наши клиенты</p>
  </div>
  <div class="separator"></div>
  <div class="clients-slider">
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-1.jpg" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-2.jpg" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-3.jpg" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-4.jpg" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-5.jpg" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-1.jpg" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-2.jpg" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-3.jpg" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-4.jpg" alt=""/>
    </div>
    <div class="slide-item">
      <img src="{{ STATIC_URL }}img/clients/client-5.jpg" alt=""/>
    </div>
  </div>
</section>
