<div class="map-content">
  <div class="separator"></div>
  <p class="title">Главный офис компании</p>
  <div id="map" style="width: 100%; height: 295px; padding-right: 10px;" data-slideout-ignore></div>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=d7ff3169-1b40-44a9-bed3-e2401872434d&lang=ru_RU" type="text/javascript"></script>
  <div class="contacts-scope" itemscope itemtype="http://schema.org/Organization">
    <p class="sub-title">Информация</p>
    <p class="" itemprop="name">Общество с ограниченной ответственностью "Продлогистика Юг"</p>
    <div class="address-scope" itemprop="address">
      Адрес:
      <b><a href="https://yandex.ru/maps/213/moscow/house/stupinskiy_proyezd_1as1/Z04YcAVmQEMHQFtvfXl4cHxkZA==/?ll=37.626959%2C55.591070&source=wizgeo&utm_medium=maps-desktop&utm_source=serp&z=17" target="_blank">
      <span itemprop="postalCode">117546</span>
      г. <span itemprop="addressLocality">Москва</span>
      <span itemprop="streetAddress">Ступинский проезд, дом 1а, строение 1</span>
      </a></b>
    </div>
    Телефон: <b><a href="tel:+7 495 212-20-80"><span itemprop="telephone">+7 495 212-20-80</span></a></b>
    <p>Электронная почта: <b><a href="mailto:all@prodlogistica.ru"><span itemprop="email">all@prodlogistica.ru</span></a></b></p>
  </div>
</div>
