<div class="map-content">
  <div class="separator"></div>
  <p class="title">Главный офис компании</p>
  <div id="map" style="width: 100%; height: 295px; padding-right: 10px;" data-slideout-ignore></div>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=d7ff3169-1b40-44a9-bed3-e2401872434d&lang=ru_RU" type="text/javascript"></script>
  <div class="contacts-scope" itemscope itemtype="http://schema.org/Organization">
    <p class="sub-title">Информация</p>
    <p class="" itemprop="name">Общество с ограниченной ответственностью "Продлогистика Юг"</p>
    <div class="address-scope" itemprop="address">
      Адрес: <b><span itemprop="postalCode">117546</span>
      г. <span itemprop="addressLocality">Москва</span>
      <span itemprop="streetAddress">Ступинский проезд, дом 1а, строение 1</span></b>
    </div>
    Телефон: <b><span itemprop="telephone">+7 495 739–70–00</span></b>
    <p>Электронная почта: <b><span itemprop="email">all@prodlogistica.ru</span></b></p>
  </div>
</div>
