<div class="cback">
  <a href="tel:+7 495 212-20-80">
{#  <a href="" class="js-popup-open" data-popup-target="callback_frame">#}
    <div class="cback-circle fn1"></div>
    <div class="cback-circle fn2"></div>
    <div class="cback-circle cback-circle--phone">
      <i class='phone-icon'></i>
    </div>
  </a>
</div>

<div class="popup js-popup" data-popup="callback_frame" id="yandex__form"
       data-script="https://yastatic.net/q/forms-frontend-ext/_/embed.js"
       data-form-src="https://forms.yandex.ru/u/5ec54806ae83e31af059d4da/?iframe=1"
       data-form-name="ya-form-5ec54806ae83e31af059d4da">

  <div class="popup__inner">
    <button class="popup__close js-popup-close"> <i class="i-cancel"></i></button>
    <div class="title">Заказать звонок</div>
    <div class="frame_content" style="margin-top: 41px;"></div>
    Контактный номер компании <br>ООО "ПРОДЛОГИСТИКА ЮГ": <br>
    <a href="tel:+74952122080">+7 495 212-20-80</a>
  </div>
</div>
