<div class="popup js-popup" data-popup="feedback_frame" id="yandex__form"
       data-script="https://yastatic.net/q/forms-frontend-ext/_/embed.js"
       data-form-src="https://forms.yandex.ru/u/5e977b9b52be132a001fbfe2/?iframe=1"
       data-form-name="ya-form-5e977b9b52be132a001fbfe2">

  <div class="popup__inner">
    <button class="popup__close js-popup-close"> <i class="i-cancel"></i></button>
    <div class="title">Обратная связь</div>
    <div class="frame_content"></div>
  </div>
</div>
