{% extends "layouts/_layout.html" %}
{% load cms_tags %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}


{% block head %}
  <link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/contacts.css"/>
{% endblock %}

{% block content %}
  <div class="contacts grid container">
    <p class="title big">Контакты</p>
    {% include "partials/contacts/_feedback.html" %}
    {% include "partials/contacts/_map.html" %}
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/contacts.js"></script>
{% endblock %}
