{% extends "layouts/_layout.html" %}
{% load cms_tags %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block head %}
  <link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/catalog.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
    }

    h1, h2, h3 {
      color: #333;
    }

    .call-us-course {
      margin-bottom: 35px;
    }

    p {
      color: #666;
    }

    .highlight {
      font-weight: bold;
    }

    .course-details {
      margin-bottom: 20px;
    }

    .course-details h1 {
      text-align: center;
      margin-bottom: 47px;
      font-size: 2.9em;
    }

    .course-outline {
      margin-bottom: 20px;
    }

    .course-week {
      margin-bottom: 10px;
    }

    .stipend-details {
      margin-top: 20px;
    }

    .stipend-details h3 {
      color: #0088cc;
    }

    .back-box {
      background: rgba(0, 199, 48, 0.27);
      position: absolute;
    }

    .header-image > img {
      max-height: 300px;
      @media (max-width: 1200px) {
        max-width: 86vw;
      }
    }

    details > summary {
      list-style: none;
      cursor: pointer;
    }

    summary::-webkit-details-marker {
      display: none
    }

    summary::before {
      position: relative;
      content: ' ►';
      left: -18px;
      top: 24px;
    }

    details[open] summary:before {
      position: relative;
      content: " ▼";
      left: -18px;
      top: 24px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="course-details">
      <div class="header-image">
        <div class="back-box"></div>
        <img src="{{ STATIC_URL }}img/manager.png" alt="">
        <h1>Курс "Менеджер по привлечению клиентов"</h1>
      </div>
      <ul>
        <li>- Изучение основных техник продаж и юридических особенностей сделок</li>
        <li>- Проработка техники речи, управление эмоциями и мотивацией</li>
        <li>- Разбор «тёплых» и «холодных» продаж, нюансы B2B-сферы</li>
        <li>- Обучение работы с возражениями и сложными клиентами</li>
        <li>- Ещё у вас будет шанс пройти стажировку в ООО "ПРОДЛОГИСТИКА ЮГ"</li>
      </ul>
    </div>

    <div class="course-details">
      <h2>Чем занимаются менеджеры по привлечению клиентов</h2>
      <p>
        Помогают компаниям искать клиентов, продавать продукты и получать прибыль.
      </p>
      <ul>
        <li>- Владеют навыками механизмов лидогенерации</li>
        <li>- Умеют проводить квалификацию клиентов</li>
        <li>- Выявляют потребности клиентов и предлагают решения</li>
        <li>- Ведут переговоры по телефону, в мессенджерах или лично</li>
        <li>- Используют скрипты, навыки отработки возражений, техники продаж</li>
        <li>- Работают с CRM-системами и электронными таблицами</li>
      </ul>
      <p>Этому, и не только, вы научитесь на нашем курсе.</p>
    </div>

    <div class="course-details">
      <h2>Кому подойдёт курс</h2>
      <ul>
        <li>- Тем, кто хочет сменить профессию. Освоите новое дело с нуля.</li>
        <li>- Начинающим менеджерам. Прекрасная возможность закрепить знания и пройти практику.</li>
      </ul>
      <p>Срок обучения на курсе 3 месяца.</p>
      <p>За это время вы научитесь:</p>
      <ul>
        <li>- Искать и квалифицировать клиентов</li>
        <li>- Изучите продукт (в нашем случае это продукты питания)</li>
        <li>- Вести переговоры по телефону, в мессенджерах. Составлять КП.</li>
        <li>- Научитесь определять типы скрипта под каждого клиента</li>
        <li>- Отрабатывать возражения и негативные отказы клиентов</li>
      </ul>
    </div>

    <details>
      <summary>
        <div class="course-details">
          <h2>Программа курса</h2>
          <p>Рассчитана на 3 месяца, на 1-4 неделе учёбы нужно уделять ~15 часов в неделю, на практике ~40 часов в неделю.</p>
        </div>
      </summary>
      <p>
      <div class="course-details">
        <h3>Введение</h3>
        <ul>
          <li>- Место отдела продаж в нашей компании и роль менеджера по привлечению клиента</li>
          <li>- Аватар менеджера по продажам. Личные цели</li>
          <li>- Типы продаж. В2В сфера, Хорека</li>
          <li>- Карьерные перспективы. В каком направлении может развиваться менеджер.</li>
          <li>- Знакомство с практикумом. Кто проводит обучение, графики.</li>
        </ul>
      </div>

      <div class="course-details">
        <h3>1-2 неделя</h3>
        <ul>
          <li>- Ввод на курс Михаила Гребенюка "Гребень продаж"</li>
          <li>- Изучение механизмов лидогенерации</li>
          <li>- Изучение основных техник продаж и юридических особенностей сделок</li>
          <li>- Квалификации клиентов и их аватары</li>
          <li>- Скрипты. Техники отработки возражений.</li>
        </ul>
      </div>

      <div class="course-details">
        <h3>2-4 неделя</h3>
        <ul>
          <li>- Продолжение обучения на платформе Михаила Гребенюка "Гребень продаж"</li>
          <li>- Разбор начальных этапов продаж: подготовка, первое касание и первая встреча. Практика.</li>
          <li>- Навыки тайм-менеджмента.</li>
          <li>- Практика отработки скрипта и возражений</li>
          <li>- Живая практика привлечения клиента</li>
        </ul>
      </div>

      <div class="course-details">
        <h3>5-12 неделя</h3>
        <p>Практика в сопровождении бизнес-тренера, куратора и контролера.</p>
      </div>
      </p>
    </details>

    <div class="course-details">
      <h3>Студентам на период обучения выплачивается стипендия</h3>
      <ul>
        <li>- Успешное прохождение 1 этапа обучения (1-2 неделя) и сдача контрольных тестов – 20 000 руб.</li>
        <li>- Успешное прохождение 2 этапа обучения (2-4 неделя) и сдача контрольных тестов – 20 000 руб.</li>
        <li>- За успешное прохождение практики (2 месяца), со своевременной и успешной сдачей итоговых тестов – 60 000 руб. ежемесячно.</li>
        <li>- Также компания выплачивает бонусы за привлечение нового клиента в размере 5 000 руб.</li>
      </ul>
    </div>

    <a href="tel:+7 495 212-20-80" class="btn-feed call-us-course">Позвоните нам</a>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
{% endblock %}
